:root {
    --color: rgb(89, 109, 72);
    --bckcolor: rgb(249, 250, 251);
}

body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.img {
    height: 100vh;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    background-color: rgba(0, 0, 0, 0.527);
}

h1 {
    color: white;
}

.lcontainer > p {
    color: white;
    margin-top: 55vh;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.link{
    color: white;
}

.odin {
    width: 75px;
}

.lcontainer {
    width: 35vw;
    height: 100%;
    background-image: url(imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.rcontainer {
    width: 65vw;
    height: 100%;
}

.top {
    background-color: var(--bckcolor);
    padding-top: 10.5%;
    padding-bottom: 8.7%;
}

.top p {
    color: black;
    margin-left: 4vw;
    margin-right: 13vw;
    font-size: 1.4rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-title {
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.2vh
}

.form {
    background-color: white;
    box-shadow: 0px 1px 30px -2px lightgray;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-bottom: 20px;
    padding-left: 4vw;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

label {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 0.7rem;
}

input {
    border: 1px black solid;
    border-radius: 3px;
    background-color: var(--bckcolor);
    border: 1px lightgray solid;
    height: 20px;
    width: 200px;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

button {
    border: 2px solid black;
    padding: 10px 40px;
    background-color: var(--color);
    border: 1px solid var(--color);
    border-radius: 5px;
    color: white;
    margin-left: 4vw;
    margin-top: 4vw;
    box-shadow: 1px 2px 1px lightgray;
}

button:hover {
    background-color: white;
    color: var(--color);
    cursor: pointer;
}

.input-error {
    border: 1px solid red;
}

.match {
    color: red;
}

.log-in {
    display: flex;
    gap: 5px;
    padding-left: 4vw;
    padding-top: 1vw;
    font-size: 1.2rem;
}

.log {
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    margin-top: 2.2vh;
}